body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-204px;
  width:286px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:58px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
#u57 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:138px;
  width:286px;
  height:170px;
  display:flex;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:308px;
  width:216px;
  height:112px;
  display:flex;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:420px;
  width:286px;
  height:170px;
  display:flex;
  font-family:"黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
